/* Centrar el título de la página */
.page-title {
    text-align: center;
    font-size: 3em; /* Aumentar el tamaño de la fuente */
    font-weight: bold;
    margin-top: 30px; /* Más espacio superior */
    margin-bottom: 30px; /* Más espacio inferior */
    color: #008780; /* Color de respaldo */
    background: linear-gradient(90deg, #008780, #10b981, #6ee7b7); /* Degradado de color */
    -webkit-background-clip: text; /* Aplicar el degradado solo al texto */
    -webkit-text-fill-color: transparent; /* Hacer el relleno del texto transparente para mostrar el degradado */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15); /* Sombra sutil para dar profundidad */
    font-family: 'Poppins', sans-serif; /* Cambiar la tipografía por algo más estilizado */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-transform: uppercase; /* Transformar el texto a mayúsculas para mayor impacto */
    position: relative; /* Posicionamiento relativo para elementos pseudo */
}

/* Efecto decorativo adicional debajo del título */
.page-title::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: #10b981; /* Color de la línea decorativa */
    margin: 15px auto 0; /* Centrando la línea */
    border-radius: 2px; /* Bordes redondeados para la línea */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra de la línea */
}

/* General container style */
.container {
    height: 60vh;
    width: 100%;
    max-width: none;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); /* Sombra reducida */
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to bottom right, #008780, #10b981, #6ee7b7);  /* Fondo de degradado */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
}

/* Palette layout */
.palette {
    display: flex;
    height: 90%; /* Ajuste de altura para las paletas dentro del contenedor */
    width: 100%;
    gap: 5px;
    align-items: center; /* Centra verticalmente las paletas */
}

/* Style for each color/project */
.color {
    height: 100%;
    flex: 1 1 auto; /* Ajuste de flexibilidad */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    transition: flex 0.3s ease-in-out, background-size 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Subtle gradient effect on images for better text readability */
.color::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: background 0.3s ease-in-out;
}

/* Content inside each color/project */
.color .content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    padding: 20px;
    text-align: center; /* Centra el texto */
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* Title positioned at the top and centered */
.color .content .title {
    font-size: 20px; /* Tamaño de fuente aumentado */
    line-height: 1.4;
    margin: 0;
    color: #FFFFFF;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    opacity: 1;
}

/* Description positioned at the bottom, centered, and hidden by default */
.color .content .description {
    font-size: 16px; /* Tamaño de fuente aumentado */
    color: #ecfdf5;
    opacity: 0;
    height: 0;
    margin-top: 10px;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

/* On hover, show the description */
.color:hover .content .description {
    opacity: 1;
    height: auto;
}

/* Hover effect */
.color:hover {
    flex: 4;
}

/* Hide content of non-hovered cards */
.palette:hover .color:not(:hover) .content {
    opacity: 1;
}

/* Specific styles for each project */
.project1 {
    background-image: url('/images/proyectos/project1.webp');
}

.project2 {
    background-image: url('/images/proyectos/project2.webp');
}

.project3 {
    background-image: url('/images/proyectos/project3.webp');
}

.project4 {
    background-image: url('/images/proyectos/project4.webp');
}

.project5 {
    background-image: url('/images/proyectos/project5.webp');
}

.project6 {
    background-image: url('/images/proyectos/project6.webp');
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        height: auto; /* Permite que el contenedor se ajuste según el contenido */
    }
    
    .palette {
        flex-direction: column; /* Cambia la orientación a vertical */
        height: auto; /* Ajuste de altura para la disposición vertical */
    }

    .color {
        height: 150px; /* Ajustar la altura de cada proyecto en dispositivos móviles */
        width: 100%; /* Asegura que los proyectos ocupen todo el ancho disponible */
    }

    .color:hover {
        flex: 1; /* Desactiva el cambio de tamaño en dispositivos móviles */
    }

    .page-title {
        font-size: 1em; /* Reduce el tamaño de la fuente para pantallas pequeñas */
        margin-top: 20px; /* Reducir el espacio superior */
        margin-bottom: 20px; /* Reducir el espacio inferior */
        letter-spacing: 1px; /* Reducir el espaciado entre letras */
    }

    .page-title::after {
        width: 30px; /* Reducir la línea decorativa debajo del título */
        height: 3px; /* Ajustar la altura de la línea */
    }
}
