.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; /* Espacio entre ítems */
  padding: 20px; /* Espacio alrededor de la cuadrícula */
  overflow: hidden; /* Oculta el desbordamiento */
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los ítems horizontalmente */
  text-align: center; /* Asegura que el texto dentro de los ítems esté centrado */
}

.grid-item img {
  width: 100%; /* Hace que las imágenes se expandan para llenar el contenedor */
  height: auto; /* Mantiene la proporción de las imágenes */
  margin-bottom: 10px; /* Espacio entre la imagen y el título */
  
}

.grid-item:hover {
  transform: scale(1.10); /* Increase size on hover */
  transition: 0.4s;
}

.card {
  background: #f9f9f9;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10%;
  
}

.card h3 {
  text-align: center; /* Center the title */
  margin-top: 20px; /* Add some space above the title */
  overflow: hidden;
}

.card img {
  width: 100%; /* Make images fill the card */
  height: auto;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  cursor: pointer; /* Change cursor to pointer on hover */

}

a{
  text-decoration: none;
  overflow: hidden;
}